<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; All Products</h1>
  </header>

  <div class="well">
    <h4>Amount of Products and Categories</h4>
  </div>

  <div class="panel panel-default products">
    <table class="table table-bordered">
      <thead>
        <tr>
          #products
          <th colspan="2"><%= "Total Products: #{Product.count("name")}    "%><a href="/" class="btn btn-primary">view products</a></th>
          #categories
          <th colspan="2"><%= "Total Categories: #{Category.count()}    "%><a href="/categories/1" class="btn btn-primary">view categories</a></th>
        </tr>
      </thead>
    </table>
  </div>
  <%= link_to "Home Page", root_path, class: 'btn btn-lg btn-primary' %>
</section>


