<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>


  <h2>Thank-you for your order!</h2>
  <h4>Your Purchases:</h4>
  <div class="order-summary jumbotron">
      <% @products.each do |item| %>
        <%= render 'line_item',
        product: item.product, 
        quantity: item[:quantity].to_i,
        total: item[:total_price_cents] %>
      <% end %>
      <div class="price">
        <dt>Total Price:</dt>
            <dd><% total_cent = @products.reduce(0) { |sum, item| sum + ( item[:total_price_cents])} %></dd>
              <dd><%= total_cent / 1000.00 %>$</dd>
      </div>
      <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
  </div>
  
</section>
