<section class="admin-products-index">

  <header class="page-header">
    <h2>&raquo; About us</h2>
  </header>

 
  <h4>You might even wonder if Junglefy even still has a desire to be great.
      Junglfy began on the campus of Lighthouse Labs by, Nolan Boxill and even though he no longer works 
      at the company, one of his beloved quotes still brands the bottom of our products 
      "The product will only be great as the smile on the customers face"</p>
    </h4>
  <div class="panel panel-default products">
    <table class="table table-bordered">
      <thead>
        <tr>
         
        </tr>
      </thead>
    </table>
  </div>
  <%= link_to "Home Page", root_path, class: 'btn btn-lg btn-primary' %>
</section>

