<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; About us</h1>
  </header>

 
  <h4>You might even wonder if Rails-Commerce even still has a desire to be great.
      Rails-Commerce began on the campus of the University of Oregon by the hand 
      of the colleges track coach, Nolan Boxill And even though he no longer works 
      at the company, one of his beloved quotes still brands the bottom of our
      first merchandies "If you have a body, you are an athlete."</p>
    </h4>
  <div class="panel panel-default products">
    <table class="table table-bordered">
      <thead>
        <tr>
         
        </tr>
      </thead>
    </table>
  </div>
  <%= link_to "Home Page", root_path, class: 'btn btn-lg btn-primary' %>
</section>

